<div class="profile-input-container">
  <div class="profile-input-container__wrapper">
    <label class="profile-input-container__label" for={{name}}>{{label}}</label>
    <input class="profile-input-container__input-element {{optionalClass}}" name={{name}} id={{name}} value={{value}}></input>
  </div>
  <span class="profile-input-container__error-text">{{error}}</span>
</div>
